body {
  margin: 0;
  background-color: #d9d9d9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*#header-logo {
  margin-top:0;
  padding-left: 2%;
}*/

#logo-image {
  margin: auto;
}

.header, .header-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.header-ul {
  margin: 1rem;
}

.nav {
  background-color: #d9d9d9;
  display: flex;
  /*flex-direction: row;*/
  align-items: center ;
  color: #947f57;
  padding: 0.5rem;
  margin-right: 10rem;
  font-size: 1.5rem;
}
.nav:hover {
  background-color: #947f57;
  color: #d9d9d9;
  box-shadow:5px 10px 8px 0px #888888;
  border-radius: 1rem;
  transition-duration: 1s;
}

.navActive {
  background-color: #947f57;
  color: #d9d9d9;
  box-shadow:5px 5px 8px 0px #888888;
  border-radius: 1rem;
}

.portfolio-page {
  padding-top:0;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}
.home-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.contact-page {
  background-color: #947f57;
  background-image: linear-gradient(#947f57, white);
  width:fit-content;
  color:#452E0C;
  border-radius: 1rem;
}
.contact-page input, .contact-page textarea, .contact-page button {
  border-radius: 1rem;
  margin:1rem;
}
#resume {
  text-decoration: none;
  color:#d9d9d9;
  background-color: #947f57;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

#resume:hover {
  background-color: #d9d9d9;
  color: #947f57;
  box-shadow:5px 10px 8px 0px #888888;
  border-radius: 1rem;
  transition-duration: 1s;
}

.card {
  width: 30%;
  max-height: 30vh;
  text-align: center;
  background-color: #9F6D52;
  border: none;
  margin: 20px;
  box-shadow:5px 10px 8px 0px #888888;
}

.card:hover .card-img {
  opacity: 0.1;
  transition: all 0.2s;
}

.card .card-title,
.card .card-text {
  display: none;
}

.card:hover .card-title,
.card:hover .card-text {
  display: contents;
  font-size: 15px;
}

.card-title,
.card-text {
  color: #452E0C;
}

.card-title:hover,
.card-text:hover {
  text-decoration: none;
  color: #452E0C;
  text-shadow: blue;
}

.card i {
  margin: 8px;
}

#github-portfolio{
  padding: 0.25rem;
  font-size: 30px;
  border-radius: 0.25rem;
}

#github-portfolio:hover {
  box-shadow:5px 5px 5px 5px #452E0C;
  transition-duration: 1s;
}

.fa-link {
  padding: 0.25rem;
  font-size: 30px;
  border-radius: 0.25rem;
}

.fa-link:hover {
  box-shadow:5px 5px 5px 5px #452E0C;
  transition-duration: 1s;
  color: ; 
}

